@charset "utf-8";

@media screen and (max-width: 1500px){
    header nav{
        transform: translateX(20%);
    }
    .se-1 .main-box{
        padding-top: 100px;
    }
    .se-1 .right-text{
        bottom: 150px; right: 130px;
    }
    .about .profile-left{
        top: 250px; left: 250px;
    }
    @keyframes act {
        0%{
            opacity: 0;
            left: 160px;
        }
        100%{
            opacity: 1;
            left: 250px;
        }
    }
    .about .profile-right{
        top: 270px; right: 17%;
    }
    @keyframes actii {
        0%{
            opacity: 0;
            right: 10%;
        }
        100%{
            opacity: 1;
            right: 17%;
        }
    }
    .se-3 .redesign .swiper{
        width: 1000px;
        height: 500px;
    }
    .se-3 .redesign .monitor{
        left: 400px;
    }
    .se-4 .clone{
        width: 1000px;
    }
    .se-4 .monitor{
        left: 400px;
    }
    .section .right-title{
        right: -250px; 
    }
    .se-3 .right-title{
        right: -260px;
        top: 550px;
    }
    .se-4 .right-title{
        right: -500px;
        top: 280px;
    }

}

@media screen and (max-width: 1250px){
    header nav{
        transform: translateX(16%);
    }
    .container{
        width:900px;
        margin:0 auto;
    }
    .se-1 .main-box{
        padding-top: 80px;
    }
    .se-1 .main-box .title h4{
        font-size: 45px;
    }
    .se-1 .main-box .title h2{
        font-size: 100px;
    }
    .se-1 .main-box .shadow{
        transform: rotateX(180deg) translateY(-140px);
    }
    .se-1 .right-text{
        bottom: 150px; right: 130px;
    }
    .about .profile-left{
        top: 250px; left: 200px;
    }
    @keyframes act {
        0%{
            opacity: 0;
            left: 160px;
        }
        100%{
            opacity: 1;
            left: 200px;
        }
    }
    .about .profile-right{
        top: 270px; right: 15%;
    }
    @keyframes actii {
        0%{
            opacity: 0;
            right: 10%;
        }
        100%{
            opacity: 1;
            right: 15%;
        }
    }
    .se-3 .redesign .swiper{
        width: 800px;
        height: 500px;
        transform: translateY(50px);
    }
    .se-3 .redesign .monitor .mockbg{
        width: 500px;
        height: 450px;
        top: 50px;
    }
    .se-3 .redesign .mock{
        width: 500px;
        left: 5px;
    }
    .se-4 .clone{
        width: 800px;
    }
    .se-4 .monitor .mockbg{
        width: 500px;
        height: 450px;
        top: 50px;
    }
    .se-4 .mock{
        width: 500px;
        left: 5px;
    }
    .section .right-title{
        right: -250px; 
    }
    .se-3 .right-title{
        right: -260px;
        top: 550px;
    }
    .se-4 .right-title{
        right: -500px;
        top: 280px;
    }
}
@media screen and (max-width: 1100px){
    header nav{
        transform: translateX(13%);
    }
    .about .profile-left{
        top: 250px; left: 130px;
    }
    @keyframes act {
        0%{
            opacity: 0;
            left: 50px;
        }
        100%{
            opacity: 1;
            left: 130px;
        }
    }
    .about .profile-right{
        top: 270px; right: 10%;
    }
    @keyframes actii {
        0%{
            opacity: 0;
            right: -3%;
        }
        100%{
            opacity: 1;
            right: 10%;
        }
    }
    .se-3 .redesign .swiper{
        width: 800px;
        height: 500px;
        transform: translateY(50px);
    }
    .se-3 .redesign .monitor .mockbg{
        width: 450px;
        height: 400px;
        top: 100px;
    }
    .se-3 .redesign .mock{
        width: 400px;
        left: 20px; top: 180px;
    }
    .se-4 .clone{
        width: 800px;
    }
    .se-4 .monitor .mockbg{
        width: 450px;
        height: 400px;
        top: 100px;
    }
    .se-4 .mock{
        width: 400px;
        left: 20px; top: 180px;
    }
    .section .right-title{
        right: -290px; 
    }
    .se-3 .right-title{
        right: -290px;
        top: 600px;
    }
    .se-4 .monitor, .se-3 .redesign .monitor{
        width: 450px;
        height: 450px;
    }
    .se-4 .right-title{
        right: -430px;
        top: 280px;
    }
}
@media screen and (max-width: 1000px){
    header nav{
        transform: translateX(10%);
    }
    .container{
        width:750px;
        margin:0 auto;
    }
    .se-1 .main-box{
        margin-top: 130px;
    }
    .se-1 .main-box .img-box{
        width: 500px;
        height: 300px;
    }
    .se-1 .main-box .img-box span{
        width: 350px;
        height: 130px;
    }

    
    .about .profile-left{
        top: 250px; left: 130px;
    }
    @keyframes act {
        0%{
            opacity: 0;
            left: 50px;
        }
        100%{
            opacity: 1;
            left: 130px;
        }
    }
    .about .profile-right{
        top: 270px; right: 10%;
    }
    @keyframes actii {
        0%{
            opacity: 0;
            right: -3%;
        }
        100%{
            opacity: 1;
            right: 10%;
        }
    }
    .se-3 .redesign .swiper{
        width: 800px;
        height: 500px;
        transform: translateY(50px);
    }
    .se-3 .redesign .monitor .mockbg{
        width: 450px;
        height: 400px;
        top: 100px;
    }
    .se-3 .redesign .mock{
        width: 400px;
        left: 20px; top: 180px;
    }
    .se-4 .clone{
        width: 800px;
    }
    .se-4 .monitor .mockbg{
        width: 450px;
        height: 400px;
        top: 100px;
    }
    .se-4 .mock{
        width: 400px;
        left: 20px; top: 180px;
    }
    .section .right-title{
        right: -290px; 
    }
    .se-3 .right-title{
        right: -290px;
        top: 600px;
    }
    .se-4 .monitor, .se-3 .redesign .monitor{
        width: 450px;
        height: 450px;
    }
    .se-4 .right-title{
        right: -430px;
        top: 280px;
    }
}