@charset "utf-8";


@media screen and (max-width: 1750px){
    header nav{
        transform: translateX(25%);
    }
    .cl-rt{
        right: -2%;
    }
    .se-6 .design{
        width: 1300px;
    }
    .de-rt{
        right: -11%;
    }
    .se-5 .contact{
        width: 1300px;
    }
    .co-rt{
        right: -11%;
    }
}
@media screen and (max-width: 1600px){
    header nav{
        transform: translateX(22%);
    }
    .main{
        width: 1300px;
    }
    .cl-rt{
        right: 3.5%;
    }
    .se-6 .design{
        width: 1200px;
    }
    .de-rt{
        right: -10%;
    }
    .se-5 .contact{
        width: 1200px;
    }
    .co-rt{
        right: -10%;
    }
}
@media screen and (max-width: 1450px){
    header nav{
        transform: translateX(18%);
    }
    .main{
        width: 1200px;
    }
    .se-3 .redesign .swiper, .se-4 .clone{
        width: 1100px;
    }
    .se-3 .redesign .monitor, .se-4 .monitor{
        width: 400px;
        height: 400px;
    }
    .se-3 .redesign .monitor .mockbg, .se-4 .monitor .mockbg{
        width: 450px;
        height: 400px;
    }
    .se-3 .redesign .swiper-wrapper .swiper-slide .slide-text, .se-4 .slide-text{
        width: 300px;
        height: 200px;
        top: 70px;
    }
    .se-3 .redesign .mock, .se-4 .mock{
        width: 400px;
        top: 80px; right: -30px;
    }
    .se-3 .redesign .swiper-wrapper .swiper-slide .slide-text button, .se-4 .slide-text button {
        font-size: 18px;
        width: 110px;
        height: 40px;
    }

    .re-rt{
        top: 13%;
    }
    .se-6 .design-top .sns{
        width: 240px;
        height: 240px;
    }
    .se-6 .design-top .sns img{
        width: 170px;
    }
    .se-6 .design{
        width: 1100px;
    }
    .se-5 .contact-me .left .card .icon i{
        font-size: 1.5rem;
    }
    .se-5 .contact-me .left .card p{
        font-size: 18px;
    }
    .de-rt{
        right: -10%;
    }
    .cl-rt{
        right: 1%;
        top: 0;
    }
    .se-5 .contact{
        width: 1000px;
    }
    .co-rt{
        right: -16%;
    }
}
@media screen and (max-width: 1300px){
    header nav{
        transform: translateX(16%);
    }
    .main{
        width: 950px;
    }
    .se-1 .main-box .title h4{
        font-size: 40px;
    }
    .se-1 .main-box .title h2{
        font-size: 90px;
    }
    .se-1 .main-box .img-box span{
        width: 350px;
        height: 150px;
    }
    .se-1 .right-text{
        font-size: 20px;
    }
    .se-1 .main-box .shadow{
        transform: rotateX(180deg) translateY(-120px);
    }
    .se-2 .about{
        width: 900px;
    }
    .se-3 .redesign .swiper{
        width: 900px;
        transform: translateX(-10%);
    }
    .se-4 .clone{
        width: 900px;
    }
    .se-3 .redesign .monitor, .se-4 .monitor{
        transform: translateX(-30%);
    }
    .se-6 .design-top {
        height: 350px;
    }
    .se-6 .design-top .sns{
        width: 220px;
        height: 220px;
    }
    .se-6 .design-top .sns img{
        width: 170px;
        transform: translate(23px,23px);
    }
    .se-6 .design{
        width: 950px;
    }
    .se-5 .contact-me .left .card{
        width: 280px;
    }
    .de-rt{
        right: -11.5%;
    }
    .cl-rt{
        right: -2%;
        top: 0;
    }
    .se-5 .contact{
        width: 900px;
    }
    .co-rt{
        right: -15%;
    }
}
@media screen and (max-width: 1150px){
    header nav{
        transform: translateX(90%);
    }
    .main{
        width: 800px;
    }
    .right-title{
        display: none;
    }
    .se-3 .redesign .swiper{
        width: 900px;
        transform: translateX(-15%);
    }
    .se-2 .about{
        width: 800px;
    }
}

